/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require "forem/twist/style"
*/

.flash_notice {
  background: #50AE00;
  color: #efefef;
}

.flash_alert, .flash_error {
  background: #AE0F00;
  color: #efefef;
}

.flash {
  padding: .3em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1em;
  -webkit-border-radius: .2em;
}


#warning {
  background: #bcbcbc;
  font-size: 90%;
  color: #222;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#warning a {
  font-weight: bold;
}
